<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}"> 
</head>
<body>
    <div class="content">
        <h1>Energy Questionnaire</h1>
        <p>Please answer the following questions to help us measure your energy levels.</p>
        <form id="mainForm" action="/data" method="POST">
            <!-- Intellectual/Cognitive Energy: Clarity of Thought, Focus/Attention, Mental Fatigue, Task Readiness, Cognitive Load -->
            <h5>Focus:</h5>
            <label for="focus"> How focused do you feel right now?</label>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span style="flex-shrink: 0;">Completely Disordered</span>
                <input type="range" id="focus" name="focus" min="0" max="100" value="50" style="flex-grow: 1;" oninput="updateValue(this.value,'focus-value')">
                <span style="flex-shrink: 0;">Very Focused</span>
            </div>
            <span id="focus-value">50</span>

            <h6>Readiness:</h6>
            <label for="readiness"> How prepared do you feel to tackle a challenging task right now?</label>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span style="flex-shrink: 0;">Not Prepared</span>
                <input type="range" id="readiness" name="readiness" min="0" max="100" value="50" style="flex-grow: 1;" oninput="updateValue(this.value, 'readiness-value')">
                <span style="flex-shrink: 0;">Fully Prepared</span>
            </div>
            <span id="readiness-value">50</span>

            <!-- Psychological/Mental Energy: Motivation, Stress Level, Emotional State -->
            <h5>Motivation:</h5>
            <label for="motivation"> How willing do you feel to work on something mentally challenging?</label>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span style="flex-shrink: 0;">Disinterested</span>
                <input type="range" id="motivation" name="motivation" min="0" max="100" value="50" style="flex-grow: 1;" oninput="updateValue(this.value, 'motivation-value')">
                <span style="flex-shrink: 0;">Motivated</span>
            </div>
            <span id="motivation-value">50</span>
                
            <!-- Physical Energy -->
            <h5>Physical Fatigue:</h5>
            <label for="physical_fatigue"> How much physically energized you feel?</label>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span style="flex-shrink: 0;">Tired</span>
                <input type="range" id="physical_fatigue" name="physical_fatigue" min="0" max="100" value="50" style="flex-grow: 1;" oninput="updateValue(this.value, 'physical_fatigue-value')">
                <span style="flex-shrink: 0;">Strong</span>
            </div>
            <span id="physical_fatigue-value">50</span>
        
            <!-- Temporal Energy: Circadian Rhythm (Peak Times/Cortisol Level), Energy Trends -->
            <!-- Circadian Rhythm (Peak Times/Cortisol Level) -->
             <h5>Circadian Rhythm:</h5> 
            <label for="circadian_rhythm">Set your peak hours</label>
            <select id="circadian_rhythm" name="circadian_rhythm">
                <option value="Early Morning">Early Morning (5AM-9AM)</option>
                <option value="Late Morning">Late Morning (9AM-12PM)</option>
                <option value="Afternoon">Afternoon (12PM-5PM)</option>
                <option value="Evening">Evening (5PM-8PM)</option>
                <option value="Night">Night (8PM-12AM)</option>
                <option value="Midnight">Midnight (12AM-5AM)</option>
            </select>
        
            <!-- Environmental/Social Energy: Social Interaction, External Stimulation -->
            <!-- External Stimulation -->
            <h5>External Stimulation:</h5>
            <label for="external_stimulation">How supportive does your environment feel to your energy right now?</label>
            <div style="display: flex; align-items: center; gap: 10px;">
                <span style="flex-shrink: 0;">Very Hostile</span>
                <input type="range" id="external_stimulation" name="external_stimulation" min="0" max="100" value="50" style="flex-grow: 1;" oninput="updateValue(this.value, 'external_stimulation-value')">
                <span style="flex-shrink: 0;">Very Friendly</span>
            </div>
            <span id="external_stimulation-value">50</span>
            
            <div class="submitter">
                <input type="submit" value="Submit">
            </div>
            
        </form>

        <div id="loading-overlay">
            <div id="loading-container">
                <div id="loading-progress"></div>
                <p id="loading-message"></p>
            </div>
        </div>                
        
        <form id="redirectForm" action="/output" method="POST">
            <!-- may need hidden input -->
            <!-- <input type="hidden" value="True"> -->
        </form>
        <script src = "{{ url_for('static', filename='js/datascript.js') }}"></script>
    </div>
</body>
</html>